In [41]:
import clickhouse_connect
import pandas as pd

In [42]:
# Connect to ClickHouse
client = clickhouse_connect.get_client(
    host='localhost', 
    port=8123,
    username='default',
    password='ClickHousePassword'
)

In [ ]:
create_table_sql = """
CREATE TABLE kafka_adsb_raw (
    `message_type` String,
    `transmission_type` UInt8,
    `session_id` UInt32,
    `aircraft_id` UInt32,
    `hex_ident` String,
    `hex_ident_val` UInt32,
    `flight_id` String,
    `date_message_generated` String,
    `time_message_generated` String,
    `date_message_logged` String,
    `time_message_logged` String,
    `callsign` String,
    `altitude` Nullable(Int32),
    `ground_speed` Nullable(Int32),
    `track` Nullable(Float64),
    `latitude` Nullable(Float64),
    `longitude` Nullable(Float64),
    `vertical_rate` Nullable(Int32),
    `squawk` Nullable(String),
    `alert` Nullable(UInt8),
    `emergency` Nullable(UInt8),
    `spi` Nullable(UInt8),
    `is_on_ground` Nullable(UInt8),
    `raw_message` String,
    `timestamp` DateTime
) ENGINE = MergeTree
PARTITION BY toYYYYMM(timestamp)
ORDER BY (timestamp, hex_ident)
"""

client.command(create_table_sql)

In [52]:
# query_table_sql = """SELECT * FROM kafka_adsb_raw LIMIT 10"""

query_table_sql = """SELECT * FROM adsb_messages LIMIT 10"""

result = client.query(query_table_sql)

df = result.result_set
columns = result.column_names
data = result.result_rows

display(df)

[('MSG',
  8,
  1,
  1,
  'C058C0',
  1,
  '2025/05/08',
  '08:34:00.032',
  '2025/05/08',
  '08:34:00.052',
  '',
  '',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'MSG,8,1,1,C058C0,1,2025/05/08,08:34:00.032,2025/05/08,08:34:00.052,,,,,,,,,,,,0\r',
  datetime.datetime(2025, 5, 8, 8, 34)),
 ('MSG',
  5,
  1,
  1,
  'C058C0',
  1,
  '2025/05/08',
  '08:34:00.297',
  '2025/05/08',
  '08:34:00.325',
  '',
  '40975',
  None,
  None,
  None,
  None,
  None,
  None,
  '0',
  None,
  None,
  None,
  None,
  'MSG,5,1,1,C058C0,1,2025/05/08,08:34:00.297,2025/05/08,08:34:00.325,,40975,,,,,0,,0,,0,\r',
  datetime.datetime(2025, 5, 8, 8, 34)),
 ('MSG',
  6,
  1,
  1,
  'C058C0',
  1,
  '2025/05/08',
  '08:34:00.425',
  '2025/05/08',
  '08:34:00.434',
  '',
  '',
  None,
  None,
  None,
  None,
  None,
  1142,
  '0',
  None,
  None,
  None,
  None,
  'MSG,6,1,1,C058C0,1,2025/05/08,08:34:00.425,2025/05/08,08:34:00.434,,,,,,,,1142,0,0,0,\r',
  datetime.datetime(2025, 5, 8, 8, 34)),
 ('MSG',
  6,
  1,
  1,
  'C058C0',
  1,
  '2025/05/08',
  '08:34:00.490',
  '2025/05/08',
  '08:34:00.543',
  '',
  '',
  None,
  None,
  None,
  None,
  None,
  1142,
  '0',
  None,
  None,
  None,
  None,
  'MSG,6,1,1,C058C0,1,2025/05/08,08:34:00.490,2025/05/08,08:34:00.543,,,,,,,,1142,0,0,0,\r',
  datetime.datetime(2025, 5, 8, 8, 34)),
 ('MSG',
  8,
  1,
  1,
  'C058C0',
  1,
  '2025/05/08',
  '08:34:01.305',
  '2025/05/08',
  '08:34:01.308',
  '',
  '',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'MSG,8,1,1,C058C0,1,2025/05/08,08:34:01.305,2025/05/08,08:34:01.308,,,,,,,,,,,,0\r',
  datetime.datetime(2025, 5, 8, 8, 34, 1)),
 ('MSG',
  5,
  1,
  1,
  'C058C0',
  1,
  '2025/05/08',
  '08:34:01.485',
  '2025/05/08',
  '08:34:01.528',
  '',
  '40975',
  476,
  101,
  None,
  None,
  None,
  None,
  '0',
  None,
  None,
  None,
  None,
  'MSG,5,1,1,C058C0,1,2025/05/08,08:34:01.485,2025/05/08,08:34:01.528,,40975,476,101,,,,,0,,0,\r',
  datetime.datetime(2025, 5, 8, 8, 34, 1)),
 ('MSG',
  8,
  1,
  1,
  'C058C0',
  1,
  '2025/05/08',
  '08:34:02.098',
  '2025/05/08',
  '08:34:02.127',
  '',
  '',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'MSG,8,1,1,C058C0,1,2025/05/08,08:34:02.098,2025/05/08,08:34:02.127,,,,,,,,,,,,0\r',
  datetime.datetime(2025, 5, 8, 8, 34, 2)),
 ('MSG',
  8,
  1,
  1,
  'C058C0',
  1,
  '2025/05/08',
  '08:34:03.511',
  '2025/05/08',
  '08:34:03.547',
  '',
  '',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'MSG,8,1,1,C058C0,1,2025/05/08,08:34:03.511,2025/05/08,08:34:03.547,,,,,,,,,,,,0\r',
  datetime.datetime(2025, 5, 8, 8, 34, 3)),
 ('MSG',
  3,
  1,
  1,
  'C058C0',
  1,
  '2025/05/08',
  '08:34:03.918',
  '2025/05/08',
  '08:34:03.932',
  '',
  '41000',
  None,
  None,
  51.416947,
  0.306931,
  None,
  None,
  '0',
  None,
  None,
  None,
  None,
  'MSG,3,1,1,C058C0,1,2025/05/08,08:34:03.918,2025/05/08,08:34:03.932,,41000,,,51.416947,0.306931,,,0,,0,0\r',
  datetime.datetime(2025, 5, 8, 8, 34, 3)),
 ('MSG',
  8,
  1,
  1,
  'C058C0',
  1,
  '2025/05/08',
  '08:34:04.222',
  '2025/05/08',
  '08:34:04.257',
  '',
  '',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  'MSG,8,1,1,C058C0,1,2025/05/08,08:34:04.222,2025/05/08,08:34:04.257,,,,,,,,,,,,0\r',
  datetime.datetime(2025, 5, 8, 8, 34, 4))]

In [46]:
client.command("DROP TABLE  kafka_adsb_raw")