In [70]:
import clickhouse_connect

%load_ext sql
%config SqlMagic.autocommit=False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [166]:
# Connect to ClickHouse
client = clickhouse_connect.get_client(
    host='localhost', 
    port=8123,
    username='default',
    password='ClickHousePassword'
)

In [ ]:

sql_create_table="""
CREATE TABLE demo_adsb_raw
(
    `message_type` String,
    `transmission_type` UInt8,
    `session_id` UInt32,
    `aircraft_id` UInt32,
    `hex_ident` String,
    `hex_ident_val` UInt32,
    `flight_id` String,
    `date_message_generated` String,
    `time_message_generated` String,
    `date_message_logged` String,
    `time_message_logged` String,
    `callsign` String,
    `altitude` Nullable(Int32),
    `ground_speed` Nullable(Int32),
    `track` Nullable(Float64),
    `latitude` Nullable(Float64),
    `longitude` Nullable(Float64),
    `vertical_rate` Nullable(Int32),
    `squawk` Nullable(String),
    `alert` Nullable(UInt8),
    `emergency` Nullable(UInt8),
    `spi` Nullable(UInt8),
    `is_on_ground` Nullable(UInt8),
    `raw_message` String,
    `timestamp` DateTime
)
ENGINE = MergeTree
PARTITION BY toYYYYMM(timestamp)
ORDER BY (timestamp, hex_ident);
"""
sql_create_consumer="""
CREATE TABLE adsb_kafka_queue
(
    `raw_message` String,
    `timestamp` String
)
ENGINE = Kafka
SETTINGS 
    kafka_broker_list = 'kafka.hughevans.dev:9092',
    kafka_topic_list = 'adsb-raw',
    kafka_group_name = 'clickhouse-adsb-consumer',
    kafka_format = 'JSONEachRow',
    kafka_num_consumers = 4,
    kafka_security_protocol = 'sasl_plaintext',
    kafka_sasl_mechanism = 'PLAIN',
    kafka_sasl_username = 'consumer',
    kafka_sasl_password = 'consumer-secret';
"""
sql_create_mv="""
CREATE MATERIALIZED VIEW kafka_to_adsb_mv TO demo_adsb_raw AS
SELECT 
    JSONExtractString(raw_message, 'message_type') as message_type,
    JSONExtractUInt(raw_message, 'transmission_type') as transmission_type,
    JSONExtractUInt(raw_message, 'session_id') as session_id,
    JSONExtractUInt(raw_message, 'aircraft_id') as aircraft_id,
    JSONExtractString(raw_message, 'hex_ident') as hex_ident,
    JSONExtractUInt(raw_message, 'hex_ident_val') as hex_ident_val,
    JSONExtractString(raw_message, 'flight_id') as flight_id,
    JSONExtractString(raw_message, 'date_message_generated') as date_message_generated,
    JSONExtractString(raw_message, 'time_message_generated') as time_message_generated,
    JSONExtractString(raw_message, 'date_message_logged') as date_message_logged,
    JSONExtractString(raw_message, 'time_message_logged') as time_message_logged,
    JSONExtractString(raw_message, 'callsign') as callsign,
    JSONExtractInt(raw_message, 'altitude') as altitude,
    JSONExtractInt(raw_message, 'ground_speed') as ground_speed,
    JSONExtractFloat(raw_message, 'track') as track,
    JSONExtractFloat(raw_message, 'latitude') as latitude,
    JSONExtractFloat(raw_message, 'longitude') as longitude,
    JSONExtractInt(raw_message, 'vertical_rate') as vertical_rate,
    JSONExtractString(raw_message, 'squawk') as squawk,
    JSONExtractUInt(raw_message, 'alert') as alert,
    JSONExtractUInt(raw_message, 'emergency') as emergency,
    JSONExtractUInt(raw_message, 'spi') as spi,
    JSONExtractUInt(raw_message, 'is_on_ground') as is_on_ground,
    raw_message,
    parseDateTime64BestEffort(timestamp) as timestamp
FROM adsb_kafka_queue;
"""

client.command(sql_create_table)
client.command(sql_create_consumer)
client.command(sql_create_mv)

In [ ]:
%sql clickhouse://default:ClickHousePassword@localhost:8123/default

%sql SELECT * FROM demo_adsb_raw ORDER BY date_message_generated LIMIT 10

Connecting and switching to connection 'clickhouse://default:***@localhost:8123/default'

Running query in 'clickhouse://default:***@localhost:8123/default'

+--------------+-------------------+------------+-------------+-----------+---------------+-----------+------------------------+------------------------+---------------------+---------------------+----------+----------+--------------+-------+-----------+-----------+---------------+--------+-------+-----------+-----+--------------+-------------+---------------------+
| message_type | transmission_type | session_id | aircraft_id | hex_ident | hex_ident_val | flight_id | date_message_generated | time_message_generated | date_message_logged | time_message_logged | callsign | altitude | ground_speed | track |  latitude | longitude | vertical_rate | squawk | alert | emergency | spi | is_on_ground | raw_message |      timestamp      |
+--------------+-------------------+------------+-------------+-----------+---------------+-----------+------------------------+------------------------+---------------------+---------------------+----------+----------+--------------+-------+-----------+-----------+---------------+--------+-------+-----------+-----+--------------+-------------+---------------------+
|     MSG      |         3         |     1      |      1      |   40650B  |       0       |     1     |       2025/05/12       |      07:30:23.432      |      2025/05/12     |     07:30:23.470    |   None   |   2250   |     None     |  None | 51.440828 | -0.019302 |      None     |  None  |   0   |     0     |  0  |      0       |       MSG,3,1,1,40650B,1,2025/05/12,07:30:23.432,2025/05/12,07:30:23.470,,2250,,,51.440828,-0.019302,,,0,,0,0
       | 2025-05-12 07:30:23 |
|     MSG      |         4         |     1      |      1      |   40650B  |       0       |     1     |       2025/05/12       |      07:30:23.136      |      2025/05/12     |     07:30:23.142    |   None   |   None   |     240      | 273.0 |    None   |    None   |      -512     |  None  |   0   |     0     |  0  |      0       |       MSG,4,1,1,40650B,1,2025/05/12,07:30:23.136,2025/05/12,07:30:23.142,,,240,273,,,-512,,,,,0
       | 2025-05-12 07:30:23 |
|     MSG      |         3         |     1      |      1      |   40650B  |       0       |     1     |       2025/05/12       |      07:30:22.995      |      2025/05/12     |     07:30:23.033    |   None   |   2250   |     None     |  None | 51.440828 | -0.018539 |      None     |  None  |   0   |     0     |  0  |      0       |       MSG,3,1,1,40650B,1,2025/05/12,07:30:22.995,2025/05/12,07:30:23.033,,2250,,,51.440828,-0.018539,,,0,,0,0
       | 2025-05-12 07:30:23 |
|     MSG      |         3         |     1      |      1      |   40650B  |       0       |     1     |       2025/05/12       |      07:30:23.951      |      2025/05/12     |     07:30:23.961    |   None   |   2250   |     None     |  None | 51.440872 |  -0.02034 |      None     |  None  |   0   |     0     |  0  |      0       |       MSG,3,1,1,40650B,1,2025/05/12,07:30:23.951,2025/05/12,07:30:23.961,,2250,,,51.440872,-0.020340,,,0,,0,0
       | 2025-05-12 07:30:23 |
|     MSG      |         4         |     1      |      1      |   40650B  |       0       |     1     |       2025/05/12       |      07:30:23.938      |      2025/05/12     |     07:30:23.961    |   None   |   None   |     239      | 273.0 |    None   |    None   |      -512     |  None  |   0   |     0     |  0  |      0       |       MSG,4,1,1,40650B,1,2025/05/12,07:30:23.938,2025/05/12,07:30:23.961,,,239,273,,,-512,,,,,0
       | 2025-05-12 07:30:23 |
|     MSG      |         5         |     1      |      1      |   40650B  |       0       |     1     |       2025/05/12       |      07:30:23.878      |      2025/05/12     |     07:30:23.907    |   None   |   2250   |     None     |  None |    None   |    None   |      -512     |  None  |   0   |     0     |  0  |      0       |       MSG,5,1,1,40650B,1,2025/05/12,07:30:23.878,2025/05/12,07:30:23.907,,2250,,,,,-512,,0,,0,
       | 2025-05-12 07:30:23 |
|     MSG      |         3         |     1      |      1      |   40650B  |       0       |     1     |       2025/05/12       |      07:30:23.951      |      2025/05/12     |     07:30:23.961    |   None   |   2250   |     None     |  None | 51.440872 |  -0.02034 |      None     |  None  |   0   |     0     |  0  |      0       |       MSG,3,1,1,40650B,1,2025/05/12,07:30:23.951,2025/05/12,07:30:23.961,,2250,,,51.440872,-0.020340,,,0,,0,0
       | 2025-05-12 07:30:23 |
|     MSG      |         4         |     1      |      1      |   40650B  |       0       |     1     |       2025/05/12       |      07:30:23.136      |      2025/05/12     |     07:30:23.142    |   None   |   None   |     240      | 273.0 |    None   |    None   |      -512     |  None  |   0   |     0     |  0  |      0       |       MSG,4,1,1,40650B,1,2025/05/12,07:30:23.136,2025/05/12,07:30:23.142,,,240,273,,,-512,,,,,0
       | 2025-05-12 07:30:23 |
|     MSG      |         3         |     1      |      1      |   40650B  |       0       |     1     |       2025/05/12       |      07:30:23.432      |      2025/05/12     |     07:30:23.470    |   None   |   2250   |     None     |  None | 51.440828 | -0.019302 |      None     |  None  |   0   |     0     |  0  |      0       |       MSG,3,1,1,40650B,1,2025/05/12,07:30:23.432,2025/05/12,07:30:23.470,,2250,,,51.440828,-0.019302,,,0,,0,0
       | 2025-05-12 07:30:23 |
|     MSG      |         4         |     1      |      1      |   40650B  |       0       |     1     |       2025/05/12       |      07:30:23.136      |      2025/05/12     |     07:30:23.142    |   None   |   None   |     240      | 273.0 |    None   |    None   |      -512     |  None  |   0   |     0     |  0  |      0       |       MSG,4,1,1,40650B,1,2025/05/12,07:30:23.136,2025/05/12,07:30:23.142,,,240,273,,,-512,,,,,0
       | 2025-05-12 07:30:23 |
+--------------+-------------------+------------+-------------+-----------+---------------+-----------+------------------------+------------------------+---------------------+---------------------+----------+----------+--------------+-------+-----------+-----------+---------------+--------+-------+-----------+-----+--------------+-------------+---------------------+
Truncated to displaylimit of 10.

In [175]:
client.command("DROP TABLE  demo_adsb_raw")
client.command("DROP TABLE  adsb_kafka_queue")
client.command("DROP TABLE  kafka_to_adsb_mv")