In [10]:
import pandas as pd
from sklearn_evaluation import plot

# Import jupysql Jupyter extension to create SQL cells
%load_ext sql
%config SqlMagic.autocommit=False

Matplotlib is building the font cache; this may take a moment.

In [12]:
%sql clickhouse://default:ClickHousePassword@localhost:8123/default

Connecting to 'clickhouse://default:***@localhost:8123/default'

In [22]:
%%sql
SELECT 
    count(DISTINCT hex_ident) AS active_aircraft_count,
    now() AS current_time
FROM adsb_messages
WHERE timestamp >= now() - INTERVAL 10 SECOND;

Running query in 'clickhouse://default:***@localhost:8123/default'

+-----------------------+---------------------+
| active_aircraft_count |     current_time    |
+-----------------------+---------------------+
|           2           | 2025-05-08 09:25:44 |
+-----------------------+---------------------+

%sql
DESCRIBE adsb_messages;