In [39]:
import clickhouse_connect

%load_ext sql
%config SqlMagic.autocommit=False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [40]:
# Connect to ClickHouse
client = clickhouse_connect.get_client(
    host='localhost', 
    port=8123,
    username='default',
    password='ClickHousePassword'
)

In [59]:
create_mv_sql = """
CREATE MATERIALIZED VIEW demo_by_minute
ENGINE = AggregatingMergeTree()
ORDER BY minute
AS SELECT
    toStartOfMinute(timestamp) as minute,
    count() as total_flights,
    uniqExact(hex_ident) as unique_aircraft,
    avgIf(altitude, altitude > 0) as avg_altitude
FROM adsb_messages
WHERE timestamp IS NOT NULL
GROUP BY toStartOfMinute(timestamp);
"""

client.command(create_mv_sql)

In [64]:
%sql clickhouse://default:ClickHousePassword@localhost:8123/default

%sql SELECT * FROM demo_by_minute LIMIT 10

# %sql SELECT * FROM mv_flights_by_minute LIMIT 10

Connecting and switching to connection 'clickhouse://default:***@localhost:8123/default'

Running query in 'clickhouse://default:***@localhost:8123/default'

+---------------------+---------------+-----------------+--------------------+
|        minute       | total_flights | unique_aircraft |    avg_altitude    |
+---------------------+---------------+-----------------+--------------------+
| 2025-05-12 07:28:00 |      290      |        4        | 358.86206896551727 |
| 2025-05-12 07:29:00 |      333      |        4        | 351.04587155963304 |
| 2025-05-12 07:30:00 |      465      |        6        | 273.65972222222223 |
| 2025-05-12 07:31:00 |      242      |        5        |       270.15       |
| 2025-05-12 07:32:00 |      499      |        5        | 297.2298136645963  |
| 2025-05-12 07:33:00 |      885      |        7        | 317.4916387959866  |
| 2025-05-12 07:34:00 |      345      |        8        | 317.5811965811966  |
| 2025-05-12 07:35:00 |      381      |        3        | 397.8582677165354  |
| 2025-05-12 07:36:00 |      350      |        6        | 340.63793103448273 |
| 2025-05-12 07:37:00 |      175      |        4        | 396.5925925925926  |
+---------------------+---------------+-----------------+--------------------+
Truncated to displaylimit of 10.

In [58]:
client.command("DROP TABLE  demo_by_minute")