In [19]:
import clickhouse_connect

%load_ext sql
%config SqlMagic.autocommit=False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [98]:
# Connect to ClickHouse
client = clickhouse_connect.get_client(
    host='localhost', 
    port=8123,
    username='default',
    password='ClickHousePassword'
)

In [106]:
create_mv_sql = """
CREATE MATERIALIZED VIEW demo_with_distance (
    timestamp DateTime,
    hex_ident String,
    ground_speed UInt16,
    altitude UInt32,
    distance_km Float64
) ENGINE = MergeTree()
ORDER BY (timestamp, hex_ident)
AS SELECT 
    timestamp,
    hex_ident,
    ground_speed,
    altitude,
    -- Calculate distance in kilometers (replace with your lat/lon)
    greatCircleDistance(-0.031, 51.413, longitude, latitude) / 1000 as distance_km
FROM adsb_messages
WHERE 
    -- Filter out invalid data
    latitude BETWEEN -90 AND 90 
    AND longitude BETWEEN -180 AND 180
    AND latitude IS NOT NULL
    AND longitude IS NOT NULL;
"""

insert_historical = """
INSERT INTO demo_with_distance
SELECT 
    timestamp,
    hex_ident,
    ground_speed,
    altitude,
    greatCircleDistance(-0.031, 51.413, longitude, latitude) / 1000 as distance_km
FROM demo_adsb_raw
WHERE 
    latitude IS NOT NULL
    AND longitude IS NOT NULL
    AND latitude BETWEEN -90 AND 90
    -- Adjust the longitude range based on your data
    AND longitude BETWEEN -180 AND 180;
"""

client.command(create_mv_sql)
client.command(insert_historical)

In [ ]:
%sql clickhouse://default:ClickHousePassword@localhost:8123/default

%sql SELECT hex_ident, ground_speed, altitude, distance_km FROM demo_with_distance ORDER BY distance_km LIMIT 10;

# %sql SELECT hex_ident, ground_speed, altitude, distance_km FROM kafka_with_distance ORDER BY distance_km LIMIT 10;

Connecting and switching to connection 'clickhouse://default:***@localhost:8123/default'

Running query in 'clickhouse://default:***@localhost:8123/default'

+-----------+--------------+----------+----------------------+
| hex_ident | ground_speed | altitude |     distance_km      |
+-----------+--------------+----------+----------------------+
|   40697C  |      0       |   6075   | 0.015502781094840944 |
|   40697C  |      0       |   6075   | 0.015502781094840944 |
|   40697C  |      0       |   6075   | 0.015502781094840944 |
|   40697C  |      0       |   6075   | 0.015502781094840944 |
|   400960  |      0       |   9000   | 0.04840998337095234  |
|   400960  |      0       |   9000   | 0.04840998337095234  |
|   400960  |      0       |   9000   | 0.04840998337095234  |
|   400960  |      0       |   9000   | 0.04840998337095234  |
|   46B8B4  |      0       |   5875   | 0.052061615637391895 |
|   46B8B4  |      0       |   5875   | 0.052061615637391895 |
+-----------+--------------+----------+----------------------+
Truncated to displaylimit of 10.

In [105]:
client.command("DROP TABLE  demo_with_distance")